:root {
  --white: #fff;
  --black: #000;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  max-width: 70%;
  margin: 0 auto 2rem;
  font-family: Gilroy, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.5;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  font-family: Gilroy, sans-serif;
  font-size: 1.1875rem;
  font-weight: 300;
}

a {
  color: #000;
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-family: Gilroy, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top, .padding-top.padding-medium {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom, .margin-bottom.margin-medium, .margin-bottom.margin-tiny, .margin-bottom.margin-small, .margin-bottom.margin-xxsmall {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical, .padding-vertical.padding-xxlarge {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom.padding-xxlarge {
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(45, 64, 234, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.max-width-full.text-align-center {
  text-align: center;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: Gilroy, sans-serif;
}

.text-rich-text h3 {
  max-width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: Gilroy, sans-serif;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-family: Gilroy, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(45, 64, 234, .05);
  border: 1px dashed #2d40ea;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-family: Gilroy, sans-serif;
  font-size: 1.1875rem;
  font-weight: 300;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-style-muted.text-size-small {
  font-size: .875rem;
}

.text-size-small {
  font-family: Gilroy, sans-serif;
  font-size: .875rem;
  font-weight: 300;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.text-size-large {
  font-family: Gilroy, sans-serif;
  font-size: 1.875rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-family: Gilroy, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #2d40ea;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button.is-secondary.is-alternate {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

.button.is-secondary.is-small {
  padding: .5rem 1.25rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-family: Gilroy, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.65rem;
}

.text-size-medium.text-weight-bold {
  font-weight: 700;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-group.is-center {
  justify-content: center;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 48.5rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  width: 100%;
  background-color: rgba(45, 64, 234, .1);
  border: 1px dashed #2d40ea;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.section_hero {
  color: var(--white);
  position: relative;
}

.hero_content {
  height: 100dvh;
  max-height: 67.5rem;
  align-items: flex-end;
  padding-bottom: 262px;
  padding-left: 72px;
  display: flex;
  position: relative;
}

.header7_background-video-wrapper {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.video-overlay-layer {
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.video-overlay-layer.hide {
  display: flex;
}

.header7_background-video {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar_component {
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  background-color: rgba(221, 221, 221, 0);
  align-items: center;
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  position: fixed;
}

.navbar_container {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar1_logo-link {
  padding-left: 0;
}

.navbar1_menu {
  align-items: center;
  display: flex;
  position: static;
}

.navbar1_link {
  color: var(--white);
  text-transform: uppercase;
  padding: .5rem 2.0375rem;
  font-family: Gilroy, sans-serif;
  font-weight: 300;
}

.navbar1_link.w--current {
  color: var(--white);
  font-weight: 700;
}

.navbar1_link.black {
  color: var(--black);
}

.navbar1_menu-button {
  padding: 0;
}

.section_sobre {
  overflow: hidden;
}

.section_sobre-intro {
  color: var(--white);
  position: relative;
}

.header65_background-image-wrapper {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-overlay-layer {
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header65_background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header11_component {
  flex-direction: column;
  display: flex;
}

.icon-embed-small {
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.faq5_list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  align-items: start;
  justify-items: stretch;
  display: grid;
}

.faq5_accordion {
  border: 1px solid #000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.faq5_question {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem;
  display: flex;
}

.faq5_icon-wrapper {
  width: 2rem;
  align-self: flex-start;
  margin-left: 1.5rem;
  display: flex;
}

.faq5_answer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
}

.clientes_component {
  max-width: 79.625rem;
  grid-column-gap: 6.25rem;
  grid-row-gap: 5.625rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.cliente_logo {
  max-height: 3.5rem;
}

.icon-embed-xsmall {
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section_header31 {
  color: #fff;
  position: relative;
}

.header31_content {
  max-height: 60rem;
  min-height: 100svh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header31_background-image-wrapper {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header31_background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.infografico_component {
  justify-content: center;
  display: flex;
}

.header15_content-wrapper {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.infografico_image-wrapper {
  position: relative;
}

.infografico_image {
  width: 540px;
  height: 100%;
}

.section_holding {
  color: var(--white);
  background-image: url('../images/image-bg-purble.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.holding_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.holding_tabs-menu {
  align-self: center;
  margin-bottom: 3rem;
}

.holding_tab-link {
  min-width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent var(--white);
  color: var(--white);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: .5rem 1rem;
  font-family: Gilroy, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.holding_tab-link.w--current {
  border-color: black black var(--white);
  background-color: rgba(167, 110, 110, 0);
  border-top-style: none;
  border-bottom-width: 8px;
  border-left-style: none;
  border-right-style: none;
}

.footer4_top-wrapper {
  grid-column-gap: 8.75vw;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  justify-content: space-between;
  align-items: start;
}

.footer4_logo-link {
  padding-left: 0;
}

.footer4_link-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  white-space: normal;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: start;
  display: flex;
}

.footer4_link {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.footer4_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  white-space: normal;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: start;
  justify-items: start;
  display: flex;
}

.footer4_social-link {
  color: #000;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  display: flex;
}

.path-setima {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 72px;
  right: auto;
}

.custom-video-wrapper {
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.video-vimeo-wrapper {
  width: 100%;
  height: 0%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.vimeo-embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.vimdeo-player-overlay {
  background-color: rgba(0, 0, 0, .35);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.video-unmute-button {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.video-unmute-wrapper {
  z-index: 3;
  width: 114px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border-radius: 25px;
  flex: none;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  transition: all .25s cubic-bezier(.165, .84, .44, 1);
  display: flex;
}

.video-unmute-wrapper:hover {
  transform: scale(1.2);
}

.video-unmute-wrapper:active {
  transform: scale(.95);
}

.unmute-icon {
  width: 1em;
  height: 1em;
  font-size: 1.9em;
}

.video-play-pause-toggle {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5em;
  bottom: auto;
  left: auto;
  right: 1.5em;
}

.video-play-pause-wrapper {
  width: 115px;
  height: 45px;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 25px;
  transition: all .25s;
}

.video-play-pause-wrapper:hover {
  transform: scale(1.2);
}

.video-play-pause-wrapper:active {
  transform: scale(.95);
}

.video-play-wrapper {
  z-index: 0;
  width: 115px;
  height: 45px;
  color: #fff;
  background-color: #000;
  border-radius: 25px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.play-pause--icon {
  width: 1em;
  height: 1em;
  font-size: 1.7em;
}

.video-pause-wrapper {
  z-index: 1;
  width: 115px;
  height: 45px;
  color: #fff;
  background-color: #000;
  border-radius: 999em;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.play-link {
  color: #fff;
  font-family: Gilroy, sans-serif;
  font-size: 1.875em;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}

.text-size-huge {
  font-family: Gilroy, sans-serif;
  font-size: 3.625rem;
  line-height: 3.725rem;
}

.padding-section-sobre {
  padding-top: 1rem;
  padding-bottom: 4.4375rem;
}

.text_como-pensamos {
  max-width: 1102px;
  margin-left: auto;
  margin-right: auto;
  font-family: Gilroy, sans-serif;
  font-size: 3.625rem;
  line-height: 3.725rem;
}

.pergunta_item {
  border-style: solid;
  border-width: 1px;
  border-color: #000 #000 var(--white);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.accordion2_top {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.5rem;
  font-family: Gilroy, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
}

.accordion2_icon {
  width: 2rem;
  align-self: flex-start;
  margin-left: 1.5rem;
  display: flex;
}

.accordion2_bottom {
  padding-right: 1.5rem;
  overflow: hidden;
}

.section_como-pensamos {
  color: var(--white);
  position: relative;
}

.slider_content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.header30_background-image-wrapper {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header30_background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section_header54 {
  position: relative;
}

.header54_background-image-wrapper {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header54_background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.paddibg-section_como-pensamos {
  padding-top: 8rem;
  padding-bottom: 19.5rem;
}

.slider {
  background-color: rgba(221, 221, 221, 0);
}

.container-slider {
  width: 100%;
  max-width: 74.25rem;
  margin-left: auto;
  margin-right: auto;
}

.slider-nav {
  top: auto;
  bottom: -60px;
  left: 0%;
  right: 0%;
}

.slider-mask {
  height: auto;
}

.slider-text {
  font-family: Gilroy, sans-serif;
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 5.125rem;
}

.spacer-slider {
  padding-top: 13.875rem;
}

.paragraph {
  font-family: Gilroy, sans-serif;
}

.padding-footer {
  padding: 3.625rem 0;
}

.padding-footer.padding-xxlarge {
  padding-left: 0;
  padding-right: 0;
}

.perguntas_content {
  width: 75%;
}

.footer_icons-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.logos_component {
  max-width: 79.625rem;
  grid-column-gap: 15rem;
  grid-row-gap: 5.625rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.rich-text-holding {
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  display: flex;
}

.button-richtext {
  max-width: 218px;
  background-color: var(--white);
  color: #000;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  padding: .75rem 1.5rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  transition: all .5s;
  display: flex;
}

.button-richtext:hover {
  box-shadow: 8px 4px 30px 8px rgba(255, 255, 255, .2);
}

.button-richtext.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button-richtext.is-small {
  padding: .5rem 1.25rem;
}

.button-richtext.is-large {
  padding: 1rem 2rem;
}

.button-richtext.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button-richtext.is-secondary.is-alternate {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

.button-richtext.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.infografico-path1 {
  position: absolute;
  top: 160px;
  bottom: auto;
  left: -315px;
  right: auto;
}

.infografico-path2 {
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: -61.4px;
  left: 337.2px;
  right: auto;
}

.infografico-path3 {
  display: inline-block;
  position: absolute;
  top: 67.7px;
  bottom: auto;
  left: auto;
  right: -323.6px;
}

.infografico-text1 {
  text-align: left;
  position: absolute;
  top: 100px;
  bottom: auto;
  left: -320px;
  right: auto;
}

.infografico-text1-copy {
  position: absolute;
}

.infografico-text12 {
  text-align: right;
  position: absolute;
  top: auto;
  bottom: -40px;
  left: auto;
  right: -223px;
}

.infografico-text3 {
  text-align: right;
  position: absolute;
  top: -103px;
  bottom: auto;
  left: auto;
  right: -324px;
}

.padding-section-entregaveis {
  padding-top: 8rem;
  padding-bottom: 14rem;
}

.navbar1_component {
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  background-color: #fff;
  border: 1px #000;
  align-items: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.navbar1_container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar1_dropdown-toggle {
  grid-column-gap: .5rem;
  align-items: center;
  padding: .5rem 1rem;
  display: flex;
}

.dropdown-chevron {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar1_dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #000;
  padding: .5rem;
}

.navbar1_dropdown-link {
  padding: .5rem 1rem;
}

.navbar1_dropdown-link.w--current {
  color: #000;
}

.navbar1_menu-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.legal1-content_component {
  margin-bottom: 8rem;
}

.footer1_top-wrapper {
  grid-column-gap: 8vw;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  align-items: start;
}

.footer1_left-wrapper {
  flex-direction: column;
  display: flex;
}

.footer1_logo-link {
  padding-left: 0;
}

.footer1_form_component {
  max-width: 35rem;
  margin-bottom: 0;
}

.footer1_form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: .75rem;
  display: grid;
}

.success-message {
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.footer1_menu-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer1_link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  align-items: flex-start;
  justify-items: start;
  display: flex;
}

.footer1_link {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  text-decoration: none;
}

.footer1_social-link {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  text-decoration: none;
  display: flex;
}

.line-divider {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.footer1_bottom-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer1_credit-text {
  font-size: .875rem;
}

.footer1_legal-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.footer1_legal-link {
  font-size: .875rem;
  text-decoration: underline;
}

.navbar-interna {
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  background-color: rgba(221, 221, 221, 0);
  align-items: center;
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  position: static;
}

.footer4_bottom-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.footer4_credit-text {
  font-size: .875rem;
}

.footer4_legal-link {
  text-transform: uppercase;
  font-family: Gilroy, sans-serif;
  font-size: .875rem;
  text-decoration: underline;
}

.texto-intro {
  font-family: Gilroy, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.65rem;
}

.texto-intro.text-weight-bold {
  font-weight: 700;
}

.text-size-medium-2 {
  font-size: 1.25rem;
}

.text-size-medium-2.text-weight-bold {
  font-weight: 700;
}

.loader-3-instructions-delete {
  text-align: left;
  background-color: #f4f4f4;
  padding: 2rem;
  display: block;
}

.loader3_content-wrapper {
  z-index: 1;
  width: 12rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader3_instructions-callout {
  background-color: rgba(0, 0, 0, .1);
  align-items: center;
  padding: 1.5rem;
  line-height: 1.6;
}

.loader3_background {
  background-color: #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.loader3_component {
  z-index: 9999;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.loader3_image-overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 100%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.loader3_instructions-list {
  padding-left: 1.25rem;
}

.loader3_instructions-list-item {
  padding-left: .5rem;
}

.stylesystem-class-label {
  cursor: context-menu;
  background-color: rgba(131, 116, 116, .15);
  border-radius: 4px;
  padding-left: .5rem;
  padding-right: .5rem;
  display: inline-block;
}

.stylesystem-class-label.is-animation {
  background-image: none;
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 2rem;
}

.loader3_image {
  width: 100%;
  height: 100%;
}

.rl-styleguide_label {
  color: #fff;
  white-space: nowrap;
  cursor: context-menu;
  background-color: #0073e6;
  padding: .25rem .5rem;
  font-size: .75rem;
  display: inline-block;
}

.loader-wrapper {
  min-height: 100vh;
}

.text-weight-semibold {
  font-weight: 600;
}

.spacer-tiny-2 {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxsmall-2 {
  width: 100%;
  padding-top: .5rem;
}

.spacer-xsmall-2 {
  width: 100%;
  padding-top: 1rem;
}

.spacer-small-2 {
  width: 100%;
  padding-top: 1.5rem;
}

.spacer-large-2 {
  width: 100%;
  padding-top: 3rem;
}

.spacer-xhuge-2 {
  width: 100%;
  padding-top: 7rem;
}

.spacer-xxhuge-2 {
  width: 100%;
  padding-top: 10rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .hero_content {
    padding-left: 0;
  }

  .navbar1_menu {
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    padding: 1rem 5% 2rem;
    position: absolute;
    overflow: auto;
  }

  .navbar1_menu.is-page-height-tablet {
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 6.5rem;
    transition: height .5s;
  }

  .navbar1_link {
    width: auto;
    color: var(--black);
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .navbar1_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-icon1 {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon1_line-top {
    width: 24px;
    height: 2px;
    background-color: var(--white);
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon1_line-middle {
    width: 24px;
    height: 2px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon1_line-bottom {
    width: 24px;
    height: 2px;
    background-color: var(--white);
    padding-bottom: 0;
    padding-right: 0;
  }

  .clientes_component {
    justify-content: center;
  }

  .section_entregaveis {
    overflow: hidden;
  }

  .header15_content-wrapper {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }

  .footer4_top-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: start;
  }

  .path-setima {
    width: 80%;
    left: 0;
  }

  .video-unmute-wrapper:hover {
    transform: none;
  }

  .video-unmute-wrapper:active {
    transform: scale(.9);
  }

  .video-play-pause-wrapper:hover {
    transform: none;
  }

  .video-play-pause-wrapper:active, .video-play-wrapper:active {
    transform: scale(.9);
  }

  .padding-section-sobre {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .text_como-pensamos {
    font-size: 2rem;
    line-height: 1.5;
  }

  .paddibg-section_como-pensamos {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .slider {
    height: auto;
  }

  .padding-slider {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .slider-text {
    font-size: 2.25rem;
    line-height: 1.5;
  }

  .spacer-slider {
    padding-top: 2rem;
  }

  .padding-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .logos_component {
    grid-column-gap: 7.5rem;
    justify-content: space-between;
  }

  .padding-section-entregaveis {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .navbar1_dropdown-toggle {
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    display: flex;
  }

  .dropdown-chevron {
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar1_dropdown-list.w--open {
    border-style: none;
    padding: 0;
  }

  .navbar1_dropdown-link {
    width: auto;
    padding: .75rem 0 .75rem 5%;
  }

  .navbar1_menu-buttons {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .footer1_top-wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 1.75rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .navbar_component {
    height: auto;
    min-height: 4rem;
  }

  .navbar1_logo-link {
    padding-left: 0;
  }

  .navbar1_menu.is-page-height-tablet {
    padding-bottom: 6rem;
  }

  .header11_component {
    height: auto;
  }

  .faq5_question {
    padding: 1rem 1.25rem;
  }

  .faq5_icon-wrapper {
    width: 1.75rem;
  }

  .faq5_answer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .clientes_component {
    grid-column-gap: 2.5rem;
    padding-top: 1rem;
  }

  .cliente_logo {
    max-height: 3rem;
  }

  .header15_content-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .holding_component {
    align-items: flex-start;
  }

  .holding_tabs-menu {
    width: 100vw;
    justify-content: flex-start;
    align-self: auto;
    margin-left: -5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    overflow: auto;
  }

  .holding_tabs-menu.no-scrollbar {
    justify-content: center;
  }

  .holding_tab-link {
    flex: none;
  }

  .footer4_link-list {
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .video-unmute-wrapper {
    font-size: .9em;
  }

  .video-play-pause-toggle {
    top: 1em;
    right: 1em;
  }

  .video-play-pause-wrapper {
    font-size: .8em;
  }

  .text-size-huge {
    font-size: 1.25rem;
  }

  .padding-section-sobre {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text_como-pensamos {
    font-size: 1.25rem;
  }

  .accordion2_top {
    padding: 1rem 1.25rem;
  }

  .accordion2_icon {
    width: 1.75rem;
  }

  .accordion2_bottom {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .paddibg-section_como-pensamos, .padding-slider {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .logos_component {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
  }

  .padding-section-entregaveis {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .footer1_top-wrapper {
    grid-row-gap: 3rem;
  }

  .footer1_menu-wrapper {
    grid-column-gap: 1.5rem;
  }

  .footer1_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  .footer1_credit-text {
    margin-top: 1.5rem;
  }

  .footer1_legal-list {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
  }

  .navbar-interna {
    height: auto;
    min-height: 4rem;
  }

  .footer4_bottom-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
    justify-items: center;
    padding-bottom: 1rem;
  }

  .footer4_credit-text {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h2 {
    font-size: 1.5rem;
  }

  .clientes_component {
    grid-column-gap: 1.1rem;
    grid-row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cliente_logo {
    max-height: 1.6rem;
  }

  .header15_content-wrapper {
    grid-template-columns: 1fr;
  }

  .holding_tab-link, .holding_tab-link.w--current {
    min-width: auto;
    font-size: 1.5rem;
  }

  .accordion2_top {
    padding-left: 0;
  }

  .accordion2_bottom {
    padding-left: 0;
    padding-right: 0;
  }

  .slider-text {
    font-size: 1.5rem;
  }

  .holding_logos {
    max-height: 5rem;
  }

  .padding-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .perguntas_content {
    width: 100%;
    font-size: 1rem;
  }

  .perguntas_pergunta {
    font-size: 1.75rem;
  }

  .logos_component {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: row;
    justify-content: center;
  }

  .button-richtext {
    margin-top: 40px;
    font-size: 1rem;
  }

  .paragraph-2 {
    font-size: 1rem;
  }

  .heading {
    max-width: 100%;
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .footer1_top-wrapper {
    grid-row-gap: 48px;
  }

  .footer1_form {
    grid-row-gap: 12px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .footer1_menu-wrapper {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }
}

#w-node-a0b3100a-f72f-3d6c-5198-d0b0ce33dce4-ce33dcdf, #w-node-a0b3100a-f72f-3d6c-5198-d0b0ce33dcfb-ce33dcdf, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-beb357e3 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-beb357e3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-beb357e3 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-beb357e3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-beb357e3 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-beb357e3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-beb357e3 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-beb357e3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-beb357e3 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-beb357e3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-beb357e3, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-beb357e3 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-beb357e3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-beb357e3 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-beb357e3, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-beb357e3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-beb357e3 {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-a0b3100a-f72f-3d6c-5198-d0b0ce33dce4-ce33dcdf, #w-node-a0b3100a-f72f-3d6c-5198-d0b0ce33dcfb-ce33dcdf {
    justify-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a0b3100a-f72f-3d6c-5198-d0b0ce33dce4-ce33dcdf {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}